.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

.Modal__html--visible {
  overflow: hidden;
}

.Modal__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.2);
}

.Modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}
